<template>
    <div>
        <div class="container">
            <ol v-if="this.uid" class="breadcrumb">
                <li>
                   <router-link to="/">Главная</router-link>
                </li>
                <li>
                    <a href="#">Процессоры</a>
                </li>
            </ol>
            <div class="row">
                <div v-for="cat in data" class="col-xs-12 col-md-6 col-sm-12 col-lg-4 category">
                    <router-link :to="{name: 'children', params: {uid: cat.uid }}" tag="a">{{cat.title}}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'catalog',
    props: {
        uid: {
            default: '',
            type: String,
            required: false
        }
    },
    data() {
        return {
            data: []
        }
    },

    created() {
        this.getCategoryParent()
    },
    methods: {
        getCategoryParent() {
            if (this.uid == '') {
                var url = 'http://opt.loc/api/smeta/v1/get/category'
            } else {
                var url = 'http://opt.loc/api/smeta/v1/get/category/' + this.uid
            }

            axios.get(url, "")
                .then(response => {
                    // console.info(response.data.data);
                    this.data = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                });
        }
    },
    watch: {
        uid() {
            this.getCategoryParent()
        }
    }
}
</script>

<style>
.category {
    border-right: 2px solid #f16821;
    border-bottom: 2px solid #f16821;
    padding: 15px 15px;
    color: #444;
}

.category a {
    text-decoration: none;
    cursor: pointer;
    color: #2d3943;
    font-size: 12px;
}
</style>
