<template>
  <div>
    <h1>Это страница каталога</h1>
    <div class="center">
      <template>
        <div class="hello">
          <table class="my__table">
            <thead>
              <template v-for="col in fields">
                <template v-if="col.sortable">
                    <td class="sortable" v-on:click="issortable(col.sortable,col.name)" v-if="col.visible==true" v-html="getColData(col)"></td>
                </template>
                <template v-else>
                  <template v-if="extractName(col.name)==true">
                    <td v-on:click="issortable(col.sortable,col.name)" v-if="col.visible==true" style="text-align: center;" v-html="renderTitle(col)"></td>
                  </template>
                  <template v-else>
                    <td v-on:click="issortable(col.sortable,col.name)" v-if="col.visible==true" v-html="getColData(col)"></td>
                  </template>
                    
                </template>
              </template>
            </thead>
            <tbody>
              <template v-if="tabledata.data==null">
                {{NoRelevantData}}
              </template>
              <template v-else>
                <tr v-for="itm in tabledata.data">
                <template v-for="col in fields">
                  <template v-if="col.visible==true">
                    <template v-if="extractName(col.name)==true">
                      <td :class="extractComponent(col.name)">
                        <component :is="extractComponent(col.name)" :propert="itm"></component>
                      </td>
                    </template>
                    <template v-else>
                      <template v-if="linkstoproductpage(col.name)">
                        <td v-on:dblclick="moreinfo(itm.product_uid)" v-html="transform(itm,col.name)"></td>
                      </template>
                      <template v-else>
                        <td v-html="transform(itm,col.name)"></td>  
                      </template>  
                    </template>
                  </template>
                </template>
              </tr>
              </template>
            </tbody>
          </table>
          <div class="pagination-info">
            <template>
            <div class="count" v-html="counttotal(pagination.total)"></div>
          </template>
          <template v-if="paginate==true">
            <div class="pagination">
              <button v-if="hasprev==true" title="На первую страницу" v-on:click="page=first_page"><i class="first-chevron"></i></button>
              <button v-if="hasprev==true" title="На предыдущую страницу" v-on:click="page--"><i class="left-chevron"></i></button>
              <input :value="current_page" title="Страница" v-on:change="changepage($event.target)" type="text">
              <button v-if="hasnext==true" title="На следующую страницу" v-on:click="page++"><i class="right-chevron"></i></button>
              <button v-if="hasnext==true" title="На последнюю страницу" v-on:click="page=last_page"><i class="last-chevron"></i></button>
            </div>
          </template>
          <div class="per_page--wrap">
            <p>Элементов на страницу:</p>
            <select v-model="per_page">
              <option :value="10">10</option>
              <option :value="20">20</option>
              <option :value="30">30</option>
              <option :value="1">1</option>
              <option :value="3">3</option>
            </select>
          </div>
          </div>
        </div>
      </template>
      <!-- <mtable :load_uri="load_uri" :category_uid="category_uid" :query_params="query_params" :paginate="true" :fields="fields" :tabledata="tabledata"></mtable> -->
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'

Vue.component('tableimage',{
  template:[  
    '<div>',
    '<template>',
        '<img class="tooltip-target" :src="addicon()">',
        '<div :style=cleardata(propert.img) class="hover-img" ></div>',
    '</template>',
    '</div>'].join(''),
    props:{
      propert: {
        type: Object
      }
    },
    data(){
      return {
      }
    },
    methods:{
      addicon(){
        return require('../assets/table-photo.png')
      },
      cleardata(imgurl){
        return 'background-image: url("'+imgurl+'");'
      }
    }
})



Vue.component('Visiblesettings', {
  template:`<div></div>`
})


Vue.component('basketadd', {
  template: [
    '<div class="table-basket-add"><button class="addbasket" v-on:click="addtobasket(product_uid, product_value)"></button>',
    '<input value="1" v-on:focus="selectItem($event.target)" v-model="product_value"/>',
    '</div>'
  ].join(''),
  props: {
    propert: {
      type: Object
    }
  },
  data() {
    return {
      product_value: 1,
      product_uid: ''
    }
  },
  mounted() {
    this.product_uid = this.propert.product_uid
  },
  watch: {
    product_value(newVal, oldVal) {
      if (newVal < 1 || !(+newVal)) {
        this.product_value = oldVal
      } else {
        this.product_value = newVal
      }
    }
  },
  methods: {
    selectItem(input){
      $(input).select()
    },
    addtobasket(uid, value) {
      console.log('add ' + uid + ' ' + value + ' values')
    }
  }
})



export default {
  name: 'children',
  props: {
    load_uri: {
      type: String
    },
    category_uid: {
      type: String,
      default: ''
    },
    pag: {
      type: [String, Number],
      default: 1
    },
    sorts : {
      type: [String],
      default : 'title_product|asc'
    },
    per_pag: {
      type: [String, Number],
      default: 10
    },
    f: {
      type: String,
      default: ''
    }
  },
  created() {
    this.per_page = this.per_pag || 10
    this.page = ((+this.pag)>0 ? this.pag : 1)
    this.sort = this.sorts || 'title_product|asc'
    this.fill = this.f
    this.uid = this.category_uid
    this.query_params.page = this.page
    this.query_params.per_page = this.per_page
    this.query_params.sort = this.sort
    this.query_params.f = this.fill==='' ? Vue.delete(this.query_params, 'f') : this.fill
    this.loaddata(this.category_uid,this.query_params)
  },
  data() {
    return {
      query_params: {
        sort: '',
        page: '',
        per_page: '',
        f: ''
      },
      per_page: '',
      fill: '',
      subcat: true,
      clear: false,
      filters_value: {},
      filters: [],
      uid: '',
      NoRelevantData: 'Нет данных для отображения',
      active_sort_icon: '<i class="active"></i>',
      passive_sort_icon: '<i class="passive"></i>',
      page: '',
      first_page: 1,
      linkstopproduct: [
        'sku', 'title_product'
      ],
      last_page: '',
      hasprev: false,
      hasnext: true,
      current_page: '',
      pagination: {},
      tabledata: {},
      paginate: true,
      fields: [{
          name: 'sku',
          title: 'Артикул',
          settings_title: 'Артикул',
          disabled: true,
          visible: true,
          sortable: true
        },
        {
          name: '__component:tableimage',
          title: 'table-photo.png',
          settings_title: 'Изображение',
          disabled: false,
          visible: true,
          sortable: false
        },
        {
          name: 'title_product',
          title: 'Наименование',
          settings_title: 'Наименование',
          disabled: true,
          visible: true,
          sortable: true
        },
        {
          name: 'manufacturer',
          title: 'Производитель',
          settings_title: 'Производитель',
          disabled: false,
          visible: true,
          sortable: false
        },
        {
          name: 'stock',
          title: 'Наличие',
          settings_title: 'Наличие',
          disabled: false,
          visible: true,
          sortable: true
        },
        {
          name: 'crat',
          title: 'Кратность',
          settings_title: 'Кратность',
          disabled: false,
          visible: true,
          sortable: false,
        },
        {
          name: 'price',
          title: 'Цена',
          settings_title: 'Цена',
          disabled: true,
          visible: true,
          sortable: true
        },
        {
          name: '__component:basketadd',
          title: 'basket-hover.png',
          settings_title: 'Добавить в корзину',
          disabled: true,
          visible: true,
          sortable: false
        }
      ]
    }
  },
  watch: {
    filters_value(newVal){
      newVal.length>0 ? Vue.set(this.query_params, 'f', newVal) : Vue.delete(this.query_params, 'f')
        this.loaddata(this.category_uid, this.query_params)
    },
    per_page(newVal, oldVal) {
      if (newVal != oldVal && newVal > 0 && oldVal!='') {
        this.query_params.per_page = newVal
        this.loaddata(this.category_uid, this.query_params)
      }
    },
    category_uid(newVal, oldVal) {
      if (newVal != oldVal) {
        this.query_params.page = 1
        this.page = 1
        this.clear = true
        this.loaddata(newVal, this.query_params)
      }
    },
    page(newVal, oldVal){
      if (newVal!=oldVal && newVal>0 && oldVal!=''){
        this.query_params.page = newVal
        this.page = newVal
        this.loaddata(this.category_uid, this.query_params)
      }
    }
  },
  methods: {
    restoreTrigger(){
      this.clear = false
      Vue.delete(this.query_params, 'f')
      this.loaddata(this.category_uid,this.query_params)
    },
    setFilters(value){
      this.filters_value = value
    },
    moreinfo(uid){
      this.$router.push('/product/'+uid)
    },
    linkstoproductpage(name){
      return (this.linkstopproduct.indexOf(name)!=-1 ? true : false)
    },
    counttotal(count){
      var n = count
      return (n%10==1 && n%100!=11 ? 'Найден '+n+' товар' : n%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 'Найдено '+n+' товара' : 'Найдено '+n+' товаров');
    },
    convert(params){
      return $.param(params)
    },
    issortable(sortable,name){
      if (sortable){
        this.changesort(name)
      }
    },
    changesort(colname){

      var currentsort = this.query_params.sort
      var direction = ''
      if (currentsort.indexOf(colname)!=-1){
          direction = colname+'|'+((currentsort.indexOf('asc')!=-1) ? 'desc' : 'asc')
      }else{
          direction = colname+'|'+'asc'
      }

      if (direction!=currentsort){
        this.query_params.sort = direction
      }
      this.loaddata(this.category_uid,this.query_params)
    },
    changepage(target) {
      var val = target.value
      if ((+val) && val <= this.last_page) {
        this.page = val
        // this.gotopage(val)
      } else {
        target.value = this.current_page
      }
    },
    gotopage(page) {
      if ((+page) && page<=this.last_page){
        this.query_params.page = page  
        this.loaddata(this.category_uid, this.query_params)
      }

    },
    extractName(name) {
      if (name.indexOf('__component') != -1) {
        return true
      } else {
        return false
      }
    },
    extractComponent(name) {
      return name.replace('__component:', '')
    },
    renderTitle(col){
       return '<img style="max-width: 18px;" src='+require('../assets/' + col.title)+'>'
      // return require(col.title)
    },
    getColData(col){
      var sort = ''
      var title = col.title
      var active_sort = this.query_params.sort
      var sort_direction = active_sort.indexOf('desc')!=-1 ? 'down' : 'up'


      if (col.sortable) {
        sort = active_sort.indexOf(col.name)!=-1 ? $(this.active_sort_icon).addClass(sort_direction) : $(this.passive_sort_icon).addClass('down')
        sort = sort[0].outerHTML
      }
      return title+sort

    },
    getTitle(item) {
      return item.title
    },
    transform(line, pos) {
      return line[pos]
    },
    loaddata(uid, params) {

      if (uid != '') {
        this.query_params.category = this.category_uid
       }
       this.$router.push('?'+this.convert(this.query_params))
        axios.get(this.load_uri+'?'+this.convert(this.query_params)).then(response => {
          this.processing(response.data)

        })
        .catch(function(error) {
          console.log(error)
        })
    },
    processingFilters(array){
      var ar = []
      $.each(array,function(key,value){
        var filter={};
        filter.uid=key;
        filter.filter_title=value.title_filter;
        filter.filter_type=value.range;
        filter.len=value.items.length;
        if (value.range!=1){
          filter.filter_items=[];
          filter.filter_items=[];
          value.items.sort(function(a,b){
            if ((parseFloat(a.title_prop) && parseFloat(b.title_prop))){
              return (parseFloat(a.title_prop) < parseFloat(b.title_prop)) ? -1 : (parseFloat(a.title_prop) > parseFloat(b.title_prop)) ? 1 : 0;
            }else{
              return (a.title_prop < b.title_prop) ? -1 : (a.title_prop > b.title_prop) ? 1 : 0;
            }
          });
          $.each(value.items,function(key,value){
            var f={}
            f.prop=value.title_prop;
            f.uid=value.uid_prop;
            filter.filter_items.push(f);
          })
        }else{
          var min=value.items[0].title_prop;
          var max=value.items[0].title_prop;
          $.each(value.items,function(key){
            if (parseInt(value.items[key].title_prop)>parseInt(max)){
              max=value.items[key].title_prop;
            }
            if (parseInt(value.items[key].title_prop)<parseInt(min)){
              min=value.items[key].title_prop;
            }
          })
          filter.filter_min=parseInt(min);
          filter.filter_max=parseInt(max);
        }
        ar.push(filter)
      })
      return ar
    },
    processing(data) {
      var transformed = {}
      

      // пагинация
      if (this.paginate) {
        this.pagination.current_page = data.current_page
        this.pagination.from = data.from
        this.pagination.last_page = data.last_page
        this.pagination.to = data.to
        this.pagination.total = data.total
        this.pagination.hasnext = (data.next_page_url == null ? false : true)
        this.pagination.hasprev = (data.prev_page_url == null ? false : true)
        transformed['pagination'] = this.pagination
      }

      // обработка фильтров
      if (data.subcat){
        this.filters=this.processingFilters(data.filtres_array)
      }

      this.per_page = this.query_params.per_page
      this.sort = this.query_params.sort
      this.current_page = (this.query_params.page > 0 ? this.query_params.page : 1)
      this.last_page = this.pagination.last_page
      this.hasprev = this.pagination.hasprev
      this.hasnext = this.pagination.hasnext
      transformed.data = [];
      var dataitem = data.data


      for (var i = 0; i < dataitem.length; i++) {
        var el = dataitem[i]
        var im = ''
        if (el.img == '') {
          im = ''
        } else {
          im = this.$root.domainPath+this.$root.photoPath + el.img
        }
        transformed['data'].push({
          product_uid: el.uid,
          title_product: el.title_product,
          manufacturer: el.manufacturer,
          stock: el.stock,
          crat: el.unit,
          price: el.price,
          img: im,
          sku: el['sku']
        })
      }
      this.tabledata = transformed

    }

  }
}

</script>
<style scoped>
.center {

}
.my__table {
    border:  1px solid #D4D4D5;
    border-spacing:  0px;
    width: 100%;
    background-color: white;
}
.sortable{
  cursor: pointer;
}
.my__table thead td {
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0,0,0,.87);
    padding: .92857143em .78571429em;
    vertical-align: middle;
    border-bottom: 1px solid rgba(34,36,38,.1);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    border-left:  1px solid rgba(34,36,38,.1);
    text-align: left;
}
.my__table thead td:first-child {
    border-left: none;
}
.my__table tbody tr:hover{
  background-color: rgba(0,0,0,.05);
}
.my__table tbody td {
    padding: 0 10px !important;
    height: 39px;
    vertical-align: middle;
    font-size: 13px;
    min-width: auto !important;
    width: auto;
    text-align:  left;
    border-top:  1px solid rgba(34,36,38,.1);
}
.pagination-info {
    margin-top:  35px;
    border: 1px solid #D4D4D5;
    border-radius:  0 0 .28571429rem .28571429rem;
    background: white;
    text-align:  left;
}
.count {
    padding:  1rem;
    display:  inline-block;
    text-align:  left;
    vertical-align:  top;
    width:  auto;
}
.pagination {
    background: #FFF;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
    display:  inline-flex;
    vertical-align:  middle;
    margin-top:  1px;
}

.pagination button {
    min-width: 3em;
    text-align: center;
    display:  flex;
    padding:  .92857143em 1.14285714em;
    color:  rgba(0,0,0,.87);
    background-color:  white;
    border: 1px solid #D4D4D5;
    cursor: pointer;
}
.pagination button:hover{
  outline: none;
  border: inherit;
}
.pagination button:active{
  outline: none;
  border: inherit;
}
.pagination button:focus{
  outline: none;
  border: inherit;
}
.pagination input {
    width:  42px;
    text-align:  center;
}
.left-chevron:before {
    font-style: normal;
    content: '\2190';
    font-size: 18px;
}
.right-chevron:before {
    font-style: normal;  
    content: '\2192';
    font-size: 18px;
}
.first-chevron:before {
    font-style: normal;  
    content: '\21D0';
    font-size: 18px;
}
.last-chevron:before {
    font-style: normal;  
    content: '\21D2';
    font-size: 18px;
}
.per_page--wrap {
    display: inline-block;
    width: 440px;
    padding-left: 10px;
}
.per_page--wrap p{
  display: inline-block;
}

.basketadd{
  width: 100px !important;
}
.table-basket-add{
  text-align: center;
}
.table-basket-add >>> .addbasket {
  background-image: url('~@/assets/basket-hover.png');
  background-size: 100%;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 16px;
  width: 18px;
  cursor: pointer;
}
.table-basket-add >>> .addbasket:hover{
  outline: none;
}
.table-basket-add >>> .addbasket:focus{
  outline: none;
}
.basketadd:hover >>> input {
      transition: all 1.9s .2s;
    display: inline-block;
    width: 60px;
    text-align: center;
    outline: none;
    border: 2px solid #ededed;
}
.table-basket-add >>> input{
      display: none;
    transition: all 1.9s .2s;
    width: 0px;
}
thead >>> i.active{
  color: #2185D0;
}
thead >>> i.passive{
  color: #767676;
}

thead >>> i.down:before {
  display: inline-block;
    font-style: normal;
    content: '\251B';
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
    transform: rotate(45deg);
}
thead >>> i.up:before {
  display: inline-block;
    font-style: normal;
    content: '\251B';
    font-size: 18px;
    vertical-align: middle;
    margin-left: 5px;
    transform: rotate(-135deg);
    margin-top: -6px;
}
select{
  height: 38px;
  width: 40px;
  margin-left: 5px;
  border: 1px solid #D4D4D5;
  border-radius: 1px;
}
select:focus{
  outline: none;
   border: 1px solid #D4D4D5;
}
select:active{
  outline: none;
  border: 1px solid #D4D4D5;
}
.tableimage{
  text-align: center !important;
  position: relative;
}
.tableimage >>> div{
  display: inline-block;
}
.tableimage >>> img{
  display: block;
  margin: 0 auto;
}
.tableimage >>> .hover-img{
  display: none !important;
      width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(255,255,255,0.87);
    padding: 3px;
    border: 1px solid;
    background-position: center;
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    right: -150px;
    top: -50px;
}
.tableimage:hover >>>  .hover-img{
  display: block !important;
}
.tableimage >>> .hover-img:before{
      content: '';
    border: 10px solid transparent;
    border-right: 10px solid black;
    position: absolute;
    top: 60px;
    left: -20px;
}
</style>