<template>
  <div id="app">
    <header>

    </header>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
<style>
  header {
    width: 100%;
    height: 50px;
  }
</style>


